<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rq.practice">

    <!--SD卡读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--后台服务权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--手机震动权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.rq.practice.PracticeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--FragmentTabHost组件练习-->
        <activity android:name=".activities.practice.FragmentTabHostPractice" />

        <!--自定义View练习-->
        <activity android:name=".activities.practice.CustomScrollActivity" />

        <!--RxJava2练习-->
        <activity android:name=".activities.practice.RxJavaPracticeActivity" />

        <!--ViewPager&TabLayout练习-->
        <activity android:name=".activities.practice.ViewPagerTabLayoutPractice" />

        <!--JNI练习Activity-->
        <activity android:name=".activities.practice.JNIPracticeActivity" />

        <!--ListView练习-->
        <activity android:name=".activities.practice.ListViewPracticeActivity" />

        <!--字体自定义View练习-->
        <activity android:name=".activities.practice.ShowFontMetricsActivity" />

        <!--画布练习View的activity-->
        <activity android:name=".activities.practice.CanvasPracticeActivity" />

        <!--VideoView练习Activity-->
        <activity
            android:name=".activities.practice.ConstraintLayoutPracticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true" />

        <!--VideoView简单封装Activity-->
        <activity android:name=".activities.practice.EasyVideoViewPracticeActivity" />

        <!--SurfaceView练习-->
        <activity android:name=".activities.practice.SurfaceViewPracticeActivity" />

        <!--Service练习-->
        <activity android:name=".activities.practice.ServicePracticeActivity" />

        <!--WebView播放器练习-->
        <activity
            android:name=".activities.practice.WebViewPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true" />

        <!--照片选择Activity-->
        <activity android:name=".activities.practice.edit.PhotoSelectActivity"/>

        <!--图片编辑Activity-->
        <activity android:name=".activities.practice.edit.PictureEditActivity"/>

        <!--Android SQLite练习Activity-->
        <activity android:name=".activities.practice.AndroidSQLitePracticeActivity"/>

        <!--RecyclerView的练习页面-->
        <activity android:name=".activities.practice.RecyclerViewPracticeActivity"/>

        <!--OkHttp3练习页面-->
        <activity android:name=".activities.practice.OkHttp3PracticeActivity"/>

        <!--Retrofit2练习页面-->
        <activity android:name=".activities.practice.Retrofit2PracticeActivity"/>

        <!--HttpUtils练习页面-->
        <activity android:name=".activities.practice.HttpUtilsPracticeActivity"/>

        <!--Glide练习页面-->
        <activity android:name=".activities.practice.GlidePracticeActivity"/>

        <!--ViewPager练习页面-->
        <activity android:name=".activities.practice.ViewPagerActivity"/>

        <!--原生Recycler-->
        <activity android:name=".activities.practice.NativeRecyclerActivity"/>

        <!--服务-->
        <service
            android:name=".service.ZeusService"
            android:exported="true"
            android:permission="com.rq.practice.service.authentication"
            android:process=":zeus">
            <intent-filter>
                <action android:name="com.rq.practice.zeus.action" />
            </intent-filter>
        </service>

    </application>

    <!--自定义给Services使用的权限-->
    <permission
        android:name="com.rq.practice.service.authentication"
        android:permissionGroup="com.rq.practice.service-group"
        android:protectionLevel="signature" />
</manifest>